html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.mySlider {
    background-color: transparent;
  -webkit-appearance: none;
}

.mySlider::-webkit-slider-runnable-track {
  background: transparent;
  height: 15px;
  -webkit-appearance: none;
  
}

.mySlider::-webkit-slider-thumb {
  width: 10px;
  height: 15px;
  
  background: brown;
  cursor: pointer;
  -webkit-appearance: none;
}

button {
  background: rgba(246,234,17,0.44);
    border: rgb(6,29,129) solid 3px;
}

